flows.json
[
    {
        "id": "6bb68ec671006e63",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "b7421a38956c432b",
        "type": "change",
        "z": "781375c9aed44e85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers['Content-Type']",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.restricted",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "8f0ce75d38cdc6cb"
            ]
        ]
    },
    {
        "id": "8f42ac4d8f71be95",
        "type": "ui_form",
        "z": "781375c9aed44e85",
        "name": "",
        "label": "",
        "group": "4a26078bd533086a",
        "order": 1,
        "width": 10,
        "height": 2,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "b7421a38956c432b",
                "7fe603a961da8981"
            ]
        ]
    },
    {
        "id": "c1279800a41edf9f",
        "type": "ui_text",
        "z": "781375c9aed44e85",
        "group": "4a26078bd533086a",
        "order": 3,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Result:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f0a63740c28ed24",
        "type": "switch",
        "z": "781375c9aed44e85",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "ef7765f7537cf9f7"
            ],
            [
                "0608128cae90113b"
            ],
            [
                "0608128cae90113b"
            ]
        ]
    },
    {
        "id": "ef7765f7537cf9f7",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Success Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Success! Check your email for a verification link.",
        "output": "str",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "0608128cae90113b",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Failure Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Error- Please check that the username is unique and the email is valid. ",
        "output": "str",
        "x": 820,
        "y": 100,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "7fe603a961da8981",
        "type": "template",
        "z": "781375c9aed44e85",
        "name": "Clear Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Waiting...",
        "output": "str",
        "x": 810,
        "y": 20,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "8f0ce75d38cdc6cb",
        "type": "Load Balance",
        "z": "781375c9aed44e85",
        "defaultcapacity": 100,
        "dynamic": "6bb68ec671006e63",
        "hashType": "pearson",
        "mps": "",
        "name": "",
        "noavailability": "discard",
        "nocapacity": "admin",
        "outputs": 6,
        "routes": "5",
        "selection": "next",
        "sourceProperty": "msg.topic",
        "sticky": "",
        "x": 160,
        "y": 140,
        "wires": [
            [],
            [
                "6bb68ec671006e63"
            ],
            [
                "f126a96308fc9975"
            ],
            [
                "e70c7e39f7721fa6"
            ],
            [
                "eb923c8745b2af62"
            ],
            [
                "e4d3f4a11c7b6ad0"
            ]
        ]
    },
    {
        "id": "f126a96308fc9975",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e70c7e39f7721fa6",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "eb923c8745b2af62",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e4d3f4a11c7b6ad0",
        "type": "http request",
        "z": "781375c9aed44e85",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "d99a1ae777144f29",
        "type": "inject",
        "z": "781375c9aed44e85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "7fe603a961da8981"
            ]
        ]
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "4a26078bd533086a",
        "type": "ui_group",
        "name": "Workshop User ID Request",
        "tab": "d88e55960b8604dd",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d88e55960b8604dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
