flows.json
[
    {
        "id": "6e96c95a341ee912",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81fc7724bb1fd349",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "4a26078bd533086a",
        "type": "ui_group",
        "name": "Workshop User ID Request",
        "tab": "d88e55960b8604dd",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "d88e55960b8604dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95dcfb47e1f1186b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6bb68ec671006e63",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "b7421a38956c432b",
        "type": "change",
        "z": "6e96c95a341ee912",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers['Content-Type']",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.restricted",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "8f0ce75d38cdc6cb"
            ]
        ]
    },
    {
        "id": "8f42ac4d8f71be95",
        "type": "ui_form",
        "z": "6e96c95a341ee912",
        "name": "",
        "label": "",
        "group": "4a26078bd533086a",
        "order": 1,
        "width": 10,
        "height": 2,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "b7421a38956c432b",
                "7fe603a961da8981"
            ]
        ]
    },
    {
        "id": "c1279800a41edf9f",
        "type": "ui_text",
        "z": "6e96c95a341ee912",
        "group": "4a26078bd533086a",
        "order": 3,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Result:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f0a63740c28ed24",
        "type": "switch",
        "z": "6e96c95a341ee912",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "ef7765f7537cf9f7"
            ],
            [
                "0608128cae90113b"
            ],
            [
                "0608128cae90113b"
            ]
        ]
    },
    {
        "id": "ef7765f7537cf9f7",
        "type": "template",
        "z": "6e96c95a341ee912",
        "name": "Success Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Success! Check your email for a verification link.",
        "output": "str",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "0608128cae90113b",
        "type": "template",
        "z": "6e96c95a341ee912",
        "name": "Failure Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Error- Please check that the username is unique and the email is valid. ",
        "output": "str",
        "x": 820,
        "y": 100,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "7fe603a961da8981",
        "type": "template",
        "z": "6e96c95a341ee912",
        "name": "Clear Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Waiting...",
        "output": "str",
        "x": 810,
        "y": 20,
        "wires": [
            [
                "c1279800a41edf9f"
            ]
        ]
    },
    {
        "id": "8f0ce75d38cdc6cb",
        "type": "Load Balance",
        "z": "6e96c95a341ee912",
        "defaultcapacity": 100,
        "dynamic": "6bb68ec671006e63",
        "hashType": "pearson",
        "mps": "",
        "name": "",
        "noavailability": "discard",
        "nocapacity": "admin",
        "outputs": 6,
        "routes": "5",
        "selection": "next",
        "sourceProperty": "msg.topic",
        "sticky": "",
        "x": 320,
        "y": 320,
        "wires": [
            [],
            [
                "6bb68ec671006e63"
            ],
            [
                "f126a96308fc9975"
            ],
            [
                "e70c7e39f7721fa6"
            ],
            [
                "eb923c8745b2af62"
            ],
            [
                "e4d3f4a11c7b6ad0"
            ]
        ]
    },
    {
        "id": "f126a96308fc9975",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e70c7e39f7721fa6",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "eb923c8745b2af62",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "e4d3f4a11c7b6ad0",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "1f0a63740c28ed24"
            ]
        ]
    },
    {
        "id": "d99a1ae777144f29",
        "type": "inject",
        "z": "6e96c95a341ee912",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "7fe603a961da8981"
            ]
        ]
    },
    {
        "id": "3966da7422ba9492",
        "type": "http in",
        "z": "6e96c95a341ee912",
        "name": "",
        "url": "/registration",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f667c1c867d19d14",
                "732a9956cf2dcafb"
            ]
        ]
    },
    {
        "id": "d884d98d7d1c2ffa",
        "type": "change",
        "z": "6e96c95a341ee912",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers['Content-Type']",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.restricted",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "44046aed6bde1f3f"
            ]
        ]
    },
    {
        "id": "6e699c377181407f",
        "type": "http response",
        "z": "6e96c95a341ee912",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "f667c1c867d19d14",
        "type": "debug",
        "z": "6e96c95a341ee912",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "4b811f7186d500ee",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "6e699c377181407f",
                "f667c1c867d19d14"
            ]
        ]
    },
    {
        "id": "fbf37fb91099d28d",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "6e699c377181407f",
                "f667c1c867d19d14"
            ]
        ]
    },
    {
        "id": "117f33cc5cd9bc6f",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "6e699c377181407f",
                "f667c1c867d19d14"
            ]
        ]
    },
    {
        "id": "9c42dc838627fe3a",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "6e699c377181407f",
                "f667c1c867d19d14"
            ]
        ]
    },
    {
        "id": "c3da46708c9049d2",
        "type": "http request",
        "z": "6e96c95a341ee912",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://api.linode.com/v4/account/users",
        "tls": "81fc7724bb1fd349",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "6e699c377181407f",
                "f667c1c867d19d14"
            ]
        ]
    },
    {
        "id": "44046aed6bde1f3f",
        "type": "Load Balance",
        "z": "6e96c95a341ee912",
        "defaultcapacity": 100,
        "dynamic": "6bb68ec671006e63",
        "hashType": "pearson",
        "mps": "",
        "name": "",
        "noavailability": "discard",
        "nocapacity": "admin",
        "outputs": 6,
        "routes": "5",
        "selection": "next",
        "sourceProperty": "msg.topic",
        "sticky": "",
        "x": 380,
        "y": 780,
        "wires": [
            [],
            [
                "4b811f7186d500ee"
            ],
            [
                "fbf37fb91099d28d"
            ],
            [
                "117f33cc5cd9bc6f"
            ],
            [
                "9c42dc838627fe3a"
            ],
            [
                "c3da46708c9049d2"
            ]
        ]
    },
    {
        "id": "732a9956cf2dcafb",
        "type": "template",
        "z": "6e96c95a341ee912",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"username\":\"{{req.query.username}}\",\"email\":\"{{req.query.email}}\"}",
        "output": "json",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "d884d98d7d1c2ffa"
            ]
        ]
    }
]
